.container {
    display: grid;
    
    margin-top: 3vh;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}  

.credits-container {
    margin-top: 20px;
    padding-right: 2vw;
    margin-bottom: 20px;
    
    text-align: end;
    float: right;
}

.btn-primary {
    width: 200px;
}

.btn-dark {
    float: left;
    width: 100px;
}

.credits {
    opacity: 0.4;
}  

@media only screen and (min-width: 1366px) {
    .main {
      width: 1366px;
      margin: auto;
    }
  }

@media only screen and (max-width: 1366px) {
    .container {
        gap: 30px;
    }
    
    .card-container {
        height: 100px;
        width:  100px;
    }

    .credits-container {
        bottom:0;
        right: 0;
    }
}

@media only screen and (max-width: 1080px) {
    .container {

        border: 1px solid red;
        width: 300px;
        
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    
    .card-container {
        height: 70px;
        width:  70px;
        margin: auto;
    }
    
    .btn-primary {
        font-size: 13px;
        width: 100px;
    }
}