.container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}  

.credits {
    bottom: 0;
    right: 0;

    margin-right:  2vw;
    margin-bottom: 2vh; 

    opacity: 0.3;

    position: absolute;
}  